@import 'Colours'

border = 1px solid border-colour

/*
 * MIXINS
 */
app-bottom()
	border-bottom border
	margin-bottom 20px
	
clearfix()
	&::after
		display table
		content " "
		clear both

/*
 * STYLES
 */
*
	box-sizing border-box
	margin 0
	padding 0
	outline 0
	font-family sans-serif

html, body
	background bg-colour
	padding 5px
	
header
	display block
	app-bottom()
	padding-bottom 20px
	text-align center
	
.Logo
	font-size 2.5em
	margin 10px 0
	
.Thread
	display block
	padding 10px
	padding-bottom 30px
	app-bottom()
	clearfix()
	color primary-colour
	
	.Thread__info
		margin-bottom 10px
	
	.Thread__file
		float left
		margin-right 30px
		
		img
			max-width 300px
			max-height 300px
	